@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@400;500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font: 16px/1.4 'Roboto', sans-serif;
    background: 
    radial-gradient(at 20% 30%, #ff9a9e 0%, transparent 50%),
    radial-gradient(at 80% 20%, #a1c4fd 0%, transparent 50%),
    radial-gradient(at 50% 80%, #764ba2 0%, transparent 60%),
    #3F72AF;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
